
/*사진 배경화면 넣기*/
.intro {
  position: relative;
  background-image: url('../images/intro-bg.jpg');
  background-size: cover;
  background-position: center;
}

/*배경 이미지를 어둡게*/
.intro__dark {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  text-align: center; /*글자 가운데*/
  background-color: rgba(0, 0, 0, 0.67);
}

/*텍스트 입력*/
.intro__type {
  display: inline-flex; /*flex: 가로 꽉 채움*/
  gap: 0.32em;
  font-family: var(--font-code);
  font-size: 2.8em;
  font-weight: bold;
  color: white;
}

/*깜빡이는 애니메이션 추가*/
@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}
.intro__type .underscore {
  animation-name: blink;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

[class^="intro__tilt"] { /*^: intro__tilt로 시작하는*/
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-color: var(--color-main);
  clip-path: polygon(100% 90%, 100% 100%, 0 100%, 0 0); /*삼각형으로 조정*/
}

.intro__tilt--flip {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 90%); /*삼각형으로 조정*/
  opacity: 0.5;
}

/*mobile*/
@media (max-width: 768px) {
  .intro {
    height: 100vh;
  }

  .intro__type {
    margin-top: 36vh; /*얼마나 떨어져있는가*/
    flex-direction: column;
    text-align: left;
  }
}

/*desktop*/
@media (min-width: 769px) {
  .intro {
    height: 500px;
  }

  .intro__type {
    margin-top: 172px; /*얼마나 떨어져있는가*/
    align-items: center;
  }
  .intro__type span { /*이모지랑 글씨 높이 맞추기*/
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0.25em;
  }
}

